<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="bal.presentation.BalModelWizardID"
            name="%_UI_BalModelWizard_label"
            class="bal.presentation.BalModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BalModelFile.gif">
         <description>%_UI_BalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bal -->
      <editor
            id="bal.presentation.BalEditorID"
            name="%_UI_BalEditor_label"
            icon="icons/full/obj16/BalModelFile.gif"
            extensions="bal"
            class="bal.presentation.BalEditor"
            contributorClass="bal.presentation.BalActionBarContributor">
      </editor>
   </extension>

</plugin>
