<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated enterprise -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="enterprise.presentation.EnterpriseModelWizardID"
            name="%_UI_EnterpriseModelWizard_label"
            class="enterprise.presentation.EnterpriseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EnterpriseModelFile.gif">
         <description>%_UI_EnterpriseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated enterprise -->
      <editor
            id="enterprise.presentation.EnterpriseEditorID"
            name="%_UI_EnterpriseEditor_label"
            icon="icons/full/obj16/EnterpriseModelFile.gif"
            extensions="enterprise"
            class="enterprise.presentation.EnterpriseEditor"
            contributorClass="enterprise.presentation.EnterpriseActionBarContributor">
      </editor>
   </extension>

</plugin>
