<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated enterprise2 -->
      <package
            uri="http://www.example.org/enterprise2"
            class="enterprise2.Enterprise2Package"
            genModel="model/enterprise2.genmodel"/>
   </extension>

</plugin>
