<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated enterprise -->
      <package
            uri="http://www.example.org/enterprise"
            class="enterprise.EnterprisePackage"
            genModel="model/enterprise.genmodel"/>
   </extension>

</plugin>
